html{
    height: 100%;
}

body{
    background-color: lightgray;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(53, 59, 62, 0.518);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgba(0, 0, 0, 0.331);
    height: 30px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

h1 {
    font-size: 65px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

footer p {
    font-size: 10px;
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.maps {
    padding-bottom: 100px;
    text-align: center;
}